.employees-data-view {
  padding: 20px;
  &__actions {
    @include flexbox(space-between, stretch, 10px, row);
    &__search {
      flex-grow: 1;
      position: relative;
      input {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: 2px solid $color-gray;
        padding-inline: 5px;
        padding-left: calc(20px + 20px + 5px);
        &:focus {
          outline-color: $color-accent;
        }
      }
      svg {
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }
    }
    &__add {
      padding: 10px 15px;
      @include flexbox;
      border-radius: 50px;
      background-color: $color-accent;
      border: none;
      color: $color-bg-1;
      cursor: pointer;
    }
  }
  &__table {
    margin-top: 20px;
    table {
      width: 100%;
      thead,
      tr {
        border-bottom: 2px solid $color-gray;
        text-align: left;
        font-size: $font-size-paragraph;
        th {
          font-weight: 700;
          border-top: 2px solid $color-gray;
        }

        th,
        td {
          padding: 10px 5px;
          border-bottom: 2px solid $color-gray;
        }
      }
    }
  }
}
